<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://kit.fontawesome.com/d90e43a863.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="css/friends.css">

    <link rel="shortcut icon" href="">

        <title>Profile</title>
    </head>
    <body>
        <div class="content">

            <a class="gohome" href="/app">
                <i class="fa-solid fa-house"></i>
            </a>
            
            <% if (error !== undefined && error !== null) { %>
                <div class="newFriendInput" style="grid-template-rows: 85% 15%;">
                    <form id="friendRequestForm" action="/send-friend-request" method="POST">
                        <!--<label for="friendUsername">Username:</label>-->
                        <input type="text" id="friendUsername" name="friendUsername" placeholder="Send a friend Request" required>
                        <button type="submit">Send Friend Request</button>
                    </form>

                    <p><%= error %> <i id="redirectFriends" class="fa-solid fa-xmark"></i></p>
                </div>
            <% } else { %>
                <div class="newFriendInput" style="grid-template-rows: 1fr;">
                    <form id="friendRequestForm" action="/send-friend-request" method="POST">
                        <!--<label for="friendUsername">Username:</label>-->
                        <input type="text" id="friendUsername" name="friendUsername" placeholder="Send a friend Request" required>
                        <button type="submit">Send Friend Request</button>
                    </form>
                </div>
            <% }; %>

            <% if (fl.length == 0) { %>
                <div class="friendList">
                    <h2>Friend List</h2>
                    
                    <p>You have no friends currently</p>
                </div>
            <% } else { %>
                <div class="friendList">
                    <h2>Friend List</h2>

                    <div class="flf" style="grid-template-rows: 3rem repeat(<%= fl %>, 5rem);">

                        <div class="friends-c">
                            <p> pfp </p>
                            <p> name </p>
                            <p> username </p>
                            <p></p>
                            <p>Delete</p>
                        </div>

                        <% friends.forEach((friend) => { %>
                            <div class="friends-content">
                                <% if (friend.pfp_path === null) { %>
                                    <img src="img/def_pfp.png" alt="pfp">
                                <% } else { %>
                                    <img src="uploads/<%= friend.pfp_path %>" alt="pfp">
                                <% }; %>

                                <div><p><%= friend.name %></p></div>
                                <div><p><%= friend.username %></p></div>

                                <div></div>

                                <form id="delete-friend" action="/delete-friend" method="POST">
                                    <p class="fc-close"><button><i class="fa-solid fa-x"></i></button></p>
                                </form>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% }; %>



            <% if (pl == 0) { %>
                <div class="pendingList">
                    <h2>Friend List</h2>
                    
                    <p>You have no friends requests</p>
                </div>
            <% } else { %>
                <div class="pendingList">
                    <h2>Pending List</h2>

                    <div class="plf" style="grid-template-rows: 3rem repeat(<%= pl %>, 5rem);">

                        <div class="pending-c">
                            <p> pfp </p>
                            <p> username </p>
                            <p></p>
                            <p>Accept</p>
                            <p>Reject</p>
                        </div>

                        <% pending.forEach((p) => { %>
                            <div class="pending-content">
                                <% if (p.pfp_path === null) { %>
                                    <img src="img/def_pfp.png" alt="pfp">
                                <% } else { %>
                                    <img src="uploads/<%= p.pfp_path %>" alt="pfp">
                                <% }; %>

                                <div><p class="username-pcc"><%= p.username %></p></div>

                                <div></div>

                                <form id="accept-fr" action="/accept-fr" method="POST">
                                    <input type="hidden" name="pendingUsername" value="<%= p.username %>">
                                    <p class="pc-c"><button type="submit"><i class="fa-solid fa-check"></i></button></p>
                                </form>

                                <form id="reject-fr" action="/reject-fr" method="POST">
                                <p class="pc-x"><button><i class="fa-solid fa-x"></i></button></p>
                                </form>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% }; %>

        </div>

        <script src="js/themeCookie.js"></script>
        <script src="js/f-friends.js"></script>
    </body>
</html>

